%table-row-header-extender {
  display: table-row;

  .table-cell {
    font-weight: 300;
    display: table-cell;
    padding: {
      left: 5px;
      right: 5px;
      top: 10px;
      bottom: 10px;
    };
    vertical-align: middle;
  }

  .table-cell:first-child {
    padding-left: 40px;
  }
  .table-cell:last-child {
    padding-right: 40px;
  }
}

.table {
  display: table;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 2px;
  overflow: hidden;
  &-row {
    @extend %table-row-header-extender;

    .table-cell {
      font-size: 16px;
      color: #808080;
      line-height: 1;
    }
  }

  &-header {
    @extend %table-row-header-extender;

    .table-cell {
      font-size: 18px;
      font-weight: 500;
      text-transform: capitalize;
      color: #4272d7;
      line-height: 1.4;
      background-color: transparent;
    }
  }

  @each $color-name, $color in $table-stripe-colors {
    &-stripe-#{$color-name} {
      .table-row:nth-child(odd){
        .table-cell {
          background-color: $color ;
        }
      }
    }
  }

  &-rounded {
    border-radius: 5px;
    overflow: hidden;
  }

  &-raised {
    @include box-shadow(0 0 20px 0 rgba(0, 0, 0, 0.15));
  }

  &-bubble {
    border-collapse: separate;
    border-spacing: 0px 7px;
    .table-row {
      overflow: hidden;
      border-radius: 8px;
      .table-cell{
        color: #808080;
        font-weight: 400;
        line-height: 1;
        background-color: #fafafa;
      }

      .table-cell:first-child {
        border-left-style: none;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }

      .table-cell:last-child {
        border-right-style: none;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
      }
    }
  }

  &-hover {
    .table-row:hover {
      .table-cell{
        background-color: #ebebeb;
        cursor: pointer;
      }
    }
  }
}
