
.btn {
  text-decoration: none;
  padding: 0 25px;
  border: 0 none;
  border-radius: 5px;
  font-size: 16px;
  display: inline-block;
  line-height: 40px;
  font-weight: 400;
  box-shadow: 0 1px 2px 0 rgba(200, 200, 200,0.1);
  vertical-align: middle;
  text-align: center;
  transition: all .2s;
  transition-property: 0 2px 4px 0 rgba(200, 200, 200,0.1);
  transition-duration: 0.2s;
  transition-timing-function: initial;
  transition-delay: initial;
  cursor: pointer;
  color: #aaa;
  background-color: #fff;

  &:hover,
  &:focus {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transform: scale(1.04, 1.03);
  }

  &:active {
    transform: translateY(-3px);
  }

  &-round {
    border-radius: 150px;
  }
  &-sharp {
    border-radius: 0;
  }

  @each $color, $color-list in $button-color-duals {
    &-gradient-#{$color} {
      background-image: linear-gradient(225deg, map-get($color-list, "primary") 0%, map-get($color-list, "secondary") 100%);
      color: map-get($color-list, "font");
      font-weight: 500;
      opacity: 0.9;
    }

    &-outline-#{$color} {
      border: 2px solid;
      border-color: map-get($color-list, "secondary");
      border-style: solid;
      color: map-get($color-list, "secondary");
    }
  }
}