.scroll-bar::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.scroll-bar::-webkit-scrollbar
{
  width: 6px;
  background-color: rgba(245, 245, 245, 0);
}

.scroll-bar:hover::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgba(122,153,217, .7)),
    color-stop(0.72, rgba(73,125,189, .5)),
    color-stop(0.86, rgba(37, 69, 165, .5)));
}