select.select {
  font-size: 15px;
  width: 100%;
  border: 1px solid rgba(178, 178, 178, 0.801);
  padding: 5px;
  height: 35px;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  
  .small {
    height: 30px;
    font-size: 12px;
    padding: 9px;
  }
  
  &:focus {
    @include box-shadow(0 3px 10px 0 rgba(0, 0, 0, 0.1));
    outline: 1px solid rgb(0, 132, 255);
  }

  &-round {
    border-radius: 150px;
  }
}