   
@mixin box-shadow ($args) {
  box-shadow: $args;
  -moz-box-shadow: $args;
  -webkit-box-shadow: $args;
  -o-box-shadow: $args;
  -ms-box-shadow: $args;
}

@mixin transform ($args) {
  -webkit-transform: $args;
  -ms-transform: $args;
  transform: $args;
}